################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ark.Revit/.vs/Ark.Revit
/Ark.Revit/bin/Debug/net48
/Ark.Revit/obj
/Ark.Revit/Ark.Revit.zip
/Ark.Revit/.vs/ProjectEvaluation

/Ark.Revit/Ark.Revit.bundle/Contents/*
!/Ark.Revit/Ark.Revit.bundle/Contents/Ark.addin

/Ark.Rhino/.vs
/Ark.Rhino/MyRhinoPlugin1/bin/**

**/*/.DS_Store
.DS_Store
